@import url(_variables.scss);
body {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
}

a.btn {
  font-family: "pangolin", cursive;
  font-size: 25px;
  display: inline-block;
  background-color: yellow;
  padding: 15px;
  text-decoration: none;
}

/*Menu*/
h1.historia {
  color: green;
  font-size: 80px;
}

@media screen and (max-width: 550px) {
  h1.historia {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
}

.logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: white;
  }
  .cerrar-menu {
    color: white;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  .nav-list li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}
/*INDEX PRINCIPAL*/
#primer-texto {
  font-size: 57px;
}

@media screen and (max-width: 550px) {
  #primer-texto {
    font-size: 18px;
    text-align: left;
  }
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 90px;
  color: black;
  background-color: rgba(253, 253, 253, 0.575);
}

@media screen and (max-width: 550px) {
  h2 {
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    padding: 30px;
  }
}
section {
  display: flex;
  color: red;
  font-size: 30px;
}

#subtitulo {
  padding: 50px;
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  #subtitulo {
    font-size: 30px;
  }
}
@media screen and (max-width: 550px) {
  .subtitulo {
    text-align: center;
    overflow: hidden;
    font-size: 40px;
  }
}
.colores-sub-green {
  color: green;
}

.colores-sub-lightblue {
  color: lightblue;
}

.colores-sub-violet {
  color: violet;
}

.colores-sub-red {
  color: red;
}

.colores-sub-lightyellow {
  color: lightyellow;
}

h1.sub {
  overflow: hidden;
  text-align: center;
  font-family: "Pangolin", cursive;
  color: rgb(255, 175, 2);
  font-size: 60px;
}

@media screen and (max-width: 550px) {
  h1.sub {
    margin-right: 150px;
    overflow-x: hidden;
    font-size: 40px;
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .sub-cap-2 {
    text-align: left;
    font-size: 15px;
  }
}
.imagen {
  margin-left: 290px;
}

.img {
  height: 500px;
  width: 700px;
}

@media screen and (max-width: 550px) {
  .img {
    display: none;
    overflow: hidden;
    margin-top: 150px;
    width: 500px;
    height: 500px;
  }
}
.imagen-1 {
  height: 500px;
  width: 700px;
  margin-left: 290px;
}

@media screen and (max-width: 550px) {
  .imagen-1 {
    overflow: hidden;
    margin-left: 150px;
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 320px) {
  .imagen-1 {
    margin-left: 25px;
  }
}
.imagen-2 {
  height: 500px;
  width: 700px;
}

@media screen and (max-width: 550px) {
  .imagen-2 {
    display: none;
  }
}
.imagen-3 {
  margin-left: 400px;
}

@media screen and (max-width: 550px) {
  .imagen-3 {
    overflow: hidden;
    margin-left: 150px;
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 320px) {
  .imagen-3 {
    margin-left: 25px;
  }
}
.video1 {
  display: inline-block;
  margin-left: 100px;
  width: 800px;
  height: 500px;
}

@media screen and (max-width: 550px) {
  .video1 {
    overflow: hidden;
    margin-left: 150px;
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 320px) {
  .video1 {
    margin-left: 25px;
  }
}
#video-gue-punicas {
  margin-left: 550px;
  width: 800px;
  height: 500px;
}

@media screen and (max-width: 550px) {
  #video-gue-punicas {
    overflow: hidden;
    margin-left: 150px;
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 320px) {
  #video-gue-punicas {
    margin-left: 25px;
  }
}
a#links {
  display: grid;
  margin-left: 540px;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-items: center;
  align-items: center;
  border: solid 5px white;
  font-size: 70px;
  text-decoration: none;
  color: red;
}

nav#links a:hover {
  background-color: black;
  font-weight: 100px;
}

/*VIDEOS*/
body.fondo-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/fondo-2.jpg);
  background-position: center center;
  background-attachment: fixed;
}

h2.War-Rome, h2.Generales, h2.titulo-productos {
  -webkit-text-stroke-width: 2px;
  padding: 30px;
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(253, 253, 253, 0.575);
}

h1.titulo-videos {
  padding: 40px;
  text-align: center;
  font-family: "Pangolin", cursive;
  color: rgb(255, 175, 2);
  font-size: 100px;
}

/*PRODUCTOS*/
body.fondo-2 {
  background-image: none;
  background-color: #1c1c1c;
}

h1.Productos {
  text-align: center;
  font-family: "Pangolin", cursive;
  color: rgb(255, 175, 2);
  font-size: 100px;
}

div.contenedor-productos {
  display: flex;
}

.taza {
  margin-left: 260px;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 550px) {
  .taza {
    margin: 0px;
    height: 200px;
    width: 200;
    padding: 10px;
    overflow: hidden;
  }
}
h2.titulo-productos {
  text-align: center;
  font-size: 50px;
  background: none;
  padding: 30px;
  font-style: oblique;
}

.bandera-producto {
  height: 300px;
  width: 500px;
  margin-left: 700px;
}

@media screen and (max-width: 550px) {
  .bandera-producto {
    margin: 110px;
    padding: 0px;
    height: 200px;
    width: 300px;
  }
}
/*EMPERADORES*/
h1.titulo-emperadores {
  color: green;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: -3%;
  height: fit-content;
  position: relative;
  font-size: 100px;
}

@media (max-width: 550px) {
  h1.titulo-emperadores {
    padding: 20%;
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  h1.titulo-emperadores {
    margin-top: 100px;
    padding: 30px;
  }
}
@media (max-width: 550px) {
  h2.Generales {
    font-size: 25px;
    margin-top: 40px;
  }
}
h3.texto {
  background-color: rgba(255, 255, 255, 0.781);
  color: black;
  font-size: 25px;
  display: grid;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-left: 0px;
}

@media (max-width: 550px) {
  h3.texto {
    margin-left: 120px;
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
  }
}
@media (max-width: 320px) {
  h3.texto {
    margin: 0%;
  }
}
.img-pag-3 {
  margin-left: 380px;
  padding: 50px;
}

@media (max-width: 550px) {
  .img-pag-3 {
    margin-left: 30px;
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 320px) {
  .img-pag-3 {
    margin: 30px;
    padding: 0px;
    width: 250px;
    height: 230px;
  }
}
.img-pag-3-2 {
  margin-left: 550px;
  width: 700px;
  height: 500px;
}

@media (max-width: 550px) {
  .img-pag-3-2 {
    margin-left: 130px;
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .img-pag-3-2 {
    margin: 30px;
    padding: 0px;
    width: 250px;
    height: 230px;
  }
}
body.fondo-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagenes/coliseo-romano-al-atardecer_2560x1440_xtrafondos.com.jpg);
  background-position: center center;
  background-attachment: fixed;
}

/*QUIENES SOMOS*/
h1.titulo-quienes-somos {
  text-align: center;
  font-size: 70px;
  color: gold;
}

@media (max-width: 320px) {
  h1.titulo-quienes-somos {
    font-size: 25px;
  }
}
p.canal-youtube {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

@media (max-width: 550px) {
  p.canal-youtube {
    font-size: 12px;
  }
}
a.imagen-link {
  margin-left: 870px;
  padding: 0px;
}

h2.texto-quienes-somos {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-family: 30px;
}

footer {
  position: absolute;
  height: 50px;
  line-height: 50px;
  background: black;
  color: white;
  text-align: center;
  left: 0;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
