body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*Menu*/
h1.historia{
    color: green;
}
@media screen and (max-width: 550px){
    h1.historia{
        display: none;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: white;
    }

    .cerrar-menu {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}
/*INDEX PRINCIPAL*/
#primer-texto{
    font-size: 57px;
}
@media screen and (max-width: 550px){
    #primer-texto{
        font-size: 18px;
        text-align: left;
    }
}
h2{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(253, 253, 253, 0.575);
}
@media screen and (max-width: 550px){
    h2{
        font-size: 18px;
        text-align: left;
    }
}
section{
    display: flex;
    color: red;
    font-size: 30px;
}
.subtitulo{
    font-size: 50px;
    color: rgb(2, 199, 2);
    text-align: center;
}
h1.sub{
    font-family: 'Pangolin', cursive;
    color: rgb(255, 175, 2);
    font-size:60px;
}
@media screen and (max-width: 550px){
    .sub-cap-2{
        text-align: left;
        font-size: 15px;
    }
}
h3{
    text-align: center;
    color: white;
}
.imagen{
    margin-left: 290px;
}
.img{
width: 700px;
height: 400px;
}
@media screen and (max-width: 550px){
    .img{
        margin-top: 50px;
        width: 300px;
        height: 100px;
    }
}
.imagen-1{
    margin-left: 290px;
}
@media screen and (max-width: 550px){
    .imagen-1{
        margin-left: 8px;
        width: 380px;
        height: 380px;
    }
}
@media screen and (max-width: 550px){
    .imagen-2{
        display: none;
    }
}
.imagen-3{
    margin-left: 350px;
}
@media screen and (max-width: 550px){
    .imagen-3{
        margin-left: 8px;
        width: 380px;
        height: 380px;
    }
}
.video1{
    display: inline-block;
    margin-left: 100px;
}
@media screen and (max-width: 550px){
    .video1{
        margin: 10px;
        height: 360px;
        width: 360px;
    }
}
#video-gue-punicas{
    margin-left: 550px;
}
@media screen and (max-width: 550px){
    #video-gue-punicas{
       margin-right: 300px;
       margin: 10px;
        height: 360px;
        width: 360px;
    }
}
a#links{ display: grid;
    margin-left: 540px;
    grid-template-columns: 1fr;
    gap: 100px;
    justify-items: center;
    align-items: center;
    border: solid 5px white;
    font-size: 70px;
    text-decoration: none;
    color: red;
}
nav#links a:hover{
    background-color: black;
    font-weight: 100px;
}
/*VIDEOS*/
body.fondo-1{
    background-image: url(imagenes/fondo-2.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }
 h2.War-Rome{ 
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(253, 253, 253, 0.575);
}
h1{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: rgb(255, 175, 2);
    font-size:100px;
}
a.btn{
    font-family: 'pangolin', cursive;
   font-size: 25px;
    display: inline-block;
    background-color: yellow;
    padding: 15px;
    text-decoration: none;
}
/*PRODUCTOS*/
body.fondo-2{
    background-color: green;
}
a.btn{
    font-family: 'pangolin', cursive;
   font-size: 25px;
    display: inline-block;
    background-color: yellow;
    padding: 15px;
    text-decoration: none;
}
h1.Productos{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: rgb(255, 175, 2);
    font-size:100px;
}
/*EMPERADORES*/
h1.titulo-emperadores{
    color: green;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: -3%;
    height:fit-content;
    position: relative;
    top: -67px;
    left: -9px;
  } 
  @media (max-width: 320px){
    h1.titulo-emperadores{
      padding: 20%;
      font-size: 40px;
    }
  }
  h2.Generales{
    color: red;
    font-style: italic;
    font-variant: small-caps;
    font-size: xx-large;
    text-align: center;
  }
  @media (max-width: 320px) {
    h2.Generales{
      text-align:left;
    }  
  }
  h3.texto{
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 1020px;
    height: 300px;
    margin-left: 380px;

  }
  @media (max-width: 320px){
    h3.texto{
      margin: 0px;
      width: 300px;
      height: 200px;
      text-align: center;
      font-size: 10px;
    }
  }
  .img-pag-3{
    margin-left: 380px;
  }
  @media (max-width: 320px){
    .img-pag-3{
      margin: 0px;
      width: 400px;
      height: 300px;
    }
  }
  a.btn{
    font-family: 'pangolin', cursive;
   font-size: 25px;
    display: inline-block;
    background-color: yellow;
    padding: 15px;
    text-decoration: none;
  }
  body.fondo-3{
    background-color: salmon;
  }
  